<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
    </head>
    <body>
        <% include partials/menu %>
        <div class="contact-card">
            <h3>We will love to hear from you</h3>
            <hr>
            <p>Name</p>
            <input type="text" >
            <p>Email</p>
            <input type="text">
            <p>Message</p>
            <textarea ></textarea><br>
            <button class="btn" id="contact-btn">Send an email</button>
        </div>
    </body>
    <% include partials/script %>
</html>