<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
    </head>
    <body>
        <% include partials/menu %>
        <div class="contact-card">
            <form action="/submit" method="post">
                <h3>We will love to hear from you</h3>
                <hr>
                <p>Name</p>
                <input type="text" name="name">
                <p>Email</p>
                <input type="text" name="email">
                <p>Message</p>
                <textarea name="message"></textarea><br>
                <input type="submit" class="btn" id="contact-btn" value="Send an email">
            </form>
        </div>
    </body>
    <% include partials/script %>
</html>