<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/menu %>
    <div class="container fluid bg-3 text-center">
      <img src="images/img02.jpg" class="rounded" alt="Abstract"> 
      <h3><%= page %></h3><br>
      <div class="row">
        <div class="col-sm-4">
          <p><%= info %></p>
        </div>
        <div class="col-sm-4">
          <p><%= info %></p>
        </div>
        <div class="col-sm-4">
          <p><%= info %></p>
        </div>
      </div>
    </div>
  </body>
  <% include partials/script %>
</html>
