<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <% include partials/menu %>
        <h2>Messages</h2>
        <ul>
            <% items.forEach(function(item) { %>
                <li class="box-message"><div class="name"><%= item.name %></div > <%= item.message %> </li>
            <% }); %>
        </ul>
    </body>
<body>